/* resposive design */

@media screen and (min-width: 300px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  nav {
    .buttons {
      button {
        padding: 0;
        span {
          display: none;
        }
      }
    }
  }

  .preview-sm,
  .preview-landscape {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  nav {
    .buttons {
      button {
        padding: 0;
        span {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .buttons {
    button {
      padding: 0;
      span {
        opacity: 1;
      }
    }
  }

  .preview-sm,
  .preview-landscape {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
